/* Styles for Navbar component */
.navbar {
  background-color: aquamarine;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.navbar h1 {
  margin: 0 auto;
  font-size: 1.5rem;
}

.navbar .links {
  display: flex;
  gap: 1rem;
}
.navbar .links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.2s;
}
.navbar .links a:hover {
  background: #e0245e;
}
